.attempt {
    font-size: 25px;  
    display: flex;
    width: 15rem;
    margin-left: 10px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
  }

  .attempt-loss {
    font-size: 25px;  
    display: flex;
    width: 15rem;
    margin-left: 10px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    background-color: rgb(173, 16, 16);
    color: rgb(0, 0, 0);
  }

  .attempt-win {
    font-size: 25px;  
    display: flex;
    width: 15rem;
    margin-left: 10px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    background-color: rgb(103, 172, 204);
    color: rgb(241, 247, 255);
  }