
.board {
    border-radius: 25px;
    width: 1500px;
    background: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 2%;
    margin-left:13%;
    padding: 0;
    height: 700px;
}


.loseboard {
    border-radius: 25px;
    width: 1300px;
    background-image: url(../imgs/loseboard.png);
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 2%;
    margin-left:16%;
    padding: 0;
    height: 700px;
}

.winboard {
    border-radius: 25px;
    width: 1300px;
    background-image: url(../imgs/winboard.png);
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 2%;
    margin-left:16%;
    padding: 0;
    height: 700px;
}


@media screen and (max-width: 768px){
    .board {
    margin-left: 0px;
      width: 350px;
      height: 555px;
    }
  }

  @media screen and (max-width: 715px){
    .winboard {
    margin-left: 0px;
    width: 300px;
    height: 555px;
      background-image: url(../imgs/winboardmobile.png)
    }
  }

  @media screen and (max-width: 715px){
    .loseboard {
    margin-left: 0px;
    width: 300px;
    height: 555px;
      background-image: url(../imgs/loseboardmobile.png)
    }
  }